<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed %>
  <i class="fa fa-check-square-o" aria-hidden="true"> Task completed</i>
<% else %>
  <i class="fa fa-square-o" aria-hidden="true"> Task not yet completed</i>
<% end %>
<%= link_to "Delete", task_path(@task), method: :delete %>
<%= link_to "edit", edit_task_path(@task)%>
